mixin header
	header.header#top.js-header(data-parallax="scroll" data-image-src="img/header-bg.jpg")
		.header-in.js-header-in
			.header-ava.js-headerAvaAnim
				a(href="http://ilko.me" title="Front-end Developer Ilya Komichev").header-pic
			
			.header-info.js-headerTextAnim
				.header-name Ilya Komichev
				.header-job Front-end Developer
			
			.header-socials.js-headerSocialAnim
				ul
					li: a(href="https://github.com/ilkome" target="_blank" title="GitHub").header-github
					li: a(href="http://facebook.com/ilkome" target="_blank" title="Facebook").header-facebook
					li: a(href="http://vk.com/ilkome" target="_blank" title="VK").header-vk
