//- Variables
//--------------------------------------------------------------------------------------------------
- var pageTitle = "Front-end Developer Ilya Komichev"
- var themeColor = "#161616"


//- Includes
//--------------------------------------------------------------------------------------------------
include head
include styles
include scripts


//- Layout
//--------------------------------------------------------------------------------------------------
doctype html
html
  +head

  body.body
    +header

    main.main
      block layout-content
      //- +menu-bottom

  +scripts
