//- Variables
//-------------------------------------------------
- var pageTitle = "Frontend by ilkome"
- var themeColor = "#161616"
- var fonts = "Open+Sans:400,700|Droid+Sans:400,700"


//- Includes
//-------------------------------------------------
include head
include styles
include scripts


//- Layout
//-------------------------------------------------
doctype html
html
  head
    +head
    +styles

  body.body
    +header

    main.main
      block layout-content

  +scripts
