//- Variables
//-------------------------------------------------
- var pageTitle = "Frontend Developer Ilya Komichev"
- var themeColor = "#161616"


//- Includes
//-------------------------------------------------
include head
include styles
include scripts


//- Layout
//-------------------------------------------------
doctype html
html
  head
    +head
    +styles

  body.body
    +header

    main.main
      block layout-content

  +scripts
