mixin scripts
	script(src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous" defer)
	script(src="https://cdn.jsdelivr.net/scrollreveal.js/3.1.2/scrollreveal.min.js" defer)
	script(src="https://cdn.jsdelivr.net/blazy/latest/blazy.min.js" defer)

	if inculdeWay == "minify"
		script(src="js/bundle.min.js" defer)
	
	else
		script(src="js/libs/parallax.min.js" defer)
		script(src="js/app.js" defer)
