mixin styles
	link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,900|Lilita+One|Open+Sans:400,700|Droid+Serif")

	if inculdeWay == "dev"
		link(href="css/normalize.css", rel="stylesheet")
		link(href="css/styles.css", rel="stylesheet")

	if inculdeWay == "minify"
		link(href="css/styles.min.css", rel="stylesheet")
	
	if inculdeWay == "pretty"
		link(href="css/styles.pretty.css", rel="stylesheet")
