mixin styles
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Droid+Sans:400,700")

  if ENV == "minify"
    link(href="css/styles.min.css", rel="stylesheet")
  
  else
    link(href="css/styles.css", rel="stylesheet")
