mixin footer
	footer.footer
		.footer-copy 2016 Ilya&nbsp;Komichev ilkome
		.footer-tested Tested in: Chrome, Firefox, Edge, IE10+, Android, Safari
		.footer-names Илья&nbsp;Комичев ~ Илья&nbsp;Шикарный ~ #ИльяШикарный
