.footer
	padding padding-small padding-small
	color alpha(white, .8)
	font-size 14px
	text-align center
	background alpha(black, .2)

	&-copy
		padding-bottom 10px

	&-tested
		padding-bottom 10px
		font-size 12px

	&-names
		font-size 6px
