// header
// ===============================================
.header
  text-align center
  background #161616 url(../img/header-bg.jpg) center center no-repeat
  bg-cover()

  @media $tablet
    font-size 1.3rem

  @media $laptop
    font-size 1.5rem

  &__in
    padding em(50) em(20)
    background rgba(0,0,0,.5)

  &__logo
    margin-bottom em(50)

// logo
// ===============================================
.header-logo
  color white

  &__pic
    display block
    square(em(150))
    margin 0 auto
    margin-bottom em(30)
    background #737373 url("../img/avatar.png") center center no-repeat
    background-size 110% 110%
    border 2px solid rgba(0, 0, 0, 1)
    border-radius 50%

  &__name
    position relative
    padding-bottom em(13)
    font-size em(28)
    font-family $font-secondary
    font-weight 900
    line-height 1em
    letter-spacing em(1.5)

    &:after
      content " "
      position absolute
      left 50%
      bottom em(5)
      width em(40)
      height em(1)
      margin-left -(@width / 2)
      background #fa6513

  &__job
    font-size em(16)
    letter-spacing em(0.5)
    font-family $font-primary
