mixin header
  header.header
    .header__in
      .header__logo.header-logo
        a(href="http://ilko.me" title="Front-end Developer Ilya Komichev").header-logo__pic
        .header-logo__name Ilya Komichev
        .header-logo__job Front-end developer

      nav.header__menu
        ul.header-menu
          li: a(href="#welcome") About me
          li: a(href="#skills") Skills
          li: a(href="#portfolio") Portfolio
          li: a(href="#contacts") Contacts
