mixin header
  header.header
    .header__in
      .header__logo.header-logo
        a(href="http://ilko.me" title="Frontend Developer Ilya Komichev").header-logo__pic
        .header-logo__name Ilya Komichev
        .header-logo__job Frontend developer
