mixin header
  header.header
    .header__in.js-header
      .header__div.invisible.js-headerAvaAnim
        a(href="http://ilko.me" title="Front-end Developer Ilya Komichev").header__pic
      
      .header__info.invisible.js-headerTextAnim
        .header__name Ilya Komichev
        .header__job Front-end Developer
      
      nav.header__menu.invisible.js-headerMenuAnim
        ul.header-menu
          li: a(href="#welcome") About me
          li: a(href="#skills") Skills
          li: a(href="#portfolio") Portfolio
          li: a(href="#contacts") Contacts
