.header
  text-align center
  background url("../img/header-bg.jpg") center center no-repeat
  bg-cover()
  flex-ie-height-fix()

  &__in
    display flex
    flex-direction column
    align-items center
    justify-content center
    padding padding-main 0
    min-height 100vh
    background alpha(#000, 0.5)

    @media tablet
      padding (padding-main * padding-tablet) 0

    @media laptop
      padding (padding-main * padding-tablet) 0

  &__pic
    display block
    width 150px
    height 150px
    margin 0 auto
    background #737373 url("../img/avatar.png") center center no-repeat
    background-size 110% 110%
    border-radius 50%
    border 3px solid alpha(#000, .3)
    anim()

    &:hover
      border-color alpha(white, .5)

    @media tablet
      width @width * padding-tablet
      height @height * padding-tablet

    @media laptop
      width @width * padding-laptop
      height @height * padding-laptop

  &__info
    display flex
    flex-grow 1
    flex-direction column
    align-items center
    justify-content center
    margin-top -10px
    padding padding-main 0

  &__name
    position relative
    padding-bottom 30px
    color white
    font-size 40px
    font-family font-secondary
    font-weight 900
    line-height 1em
    letter-spacing 3px
    text-align center
    anim()

    &:after
      display block
      position absolute
      left 50%
      bottom 13px
      content " "
      width 50px
      height 2px
      margin-left -(@width / 2)
      background #fa6513

    @media tablet
      font-size @font-size * padding-tablet

    @media laptop
      font-size @font-size * padding-laptop

  &__job
    color white
    font-size 20px
    font-family font-primary
    letter-spacing 1px
    anim()

    @media tablet
      font-size @font-size * padding-tablet

    @media laptop
      font-size @font-size * padding-laptop

  &__social
    min-height 30px
