mixin footer
	footer.footer
		.footer__copy 2016 Ilya&nbsp;Komichev ilkome
		.footer__tested Tested in: Chrome, Firefox, Edge, IE10+, Android, Safari
		.footer__names Илья&nbsp;Комичев ~ Илья&nbsp;Шикарный ~ #ИльяШикарный
