.footer
  padding padding-small padding-small
  color alpha(white, .8)
  font-size 14px
  text-align center
  background alpha(black, .7)

  &__copy
    padding-bottom 10px

  &__tested
    padding-bottom 10px
    font-size 12px

  &__names
    font-size 6px
