// Typography
// =================================================================================================
.body
  font-size 16px
  font-family font-primary

p
  margin 0
  margin-bottom 20px
