doctype html

// Front-end developer
// Ilya Komichev
// http://ilko.me

html(lang="ru")
	include ../head/head

	body.l-body
		include ../logo/logo
		block page

	//- Include scripts
	block ../scripts/scripts