//- Include mixins from components
//-----------------------------------------------
include ../head/head
include ../scripts/scripts
include ../logo/logo


//- Layout
//-----------------------------------------------
doctype html
+head-copyright
html
	+head

	body.l-body
		+logo
		block page

	+scripts
