//- Include CSS / JS files
//--------------------------------------------------------------------------------------------------
- var inculdeWay = "pretty"


//- Include mixins from components
//--------------------------------------------------------------------------------------------------
include ../head/head
include ../scripts/scripts
include ../styles/styles
include ../preloader/preloader
include ../header/header
include ../footer/footer
include ../box/box
include ../menu/menu
include ../hireme/hireme


//- Layout
//--------------------------------------------------------------------------------------------------
doctype html
html
	+head

	body.l-body
		//- (class="preloader-overflow js-preloader-overflow")
		//- +preloader
		+header

		main.l-content
			block page
			//- +menu-bottom

	+scripts
