.contacts
	color white
	text-align center
	background alpha(black, 0.5)

	&-list
		a
			display inline-block
			margin 0 15px
			margin-bottom 20px

			@media tablet
				border-color transparent

			&:hover
				border-color white
				color white

	&-text
		display block
		margin 0
		opacity .9

	&-skype
		padding-top 20px
