borderbox-all()

html
  height 100%
  font-size 16px
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%

.body
  min-width 320px
  margin 0
  font-family font-primary
  color ct-main
  background #f5f5f5

.main
  background white
