borderbox-all()

html
  height 100%
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%

.body
  min-width 320px
  margin 0
  color ct-main
  background cb-main
  background-size auto

.main
  background white
