// Padding for blocks
// =================================================================================================
padding-small = 30px
padding-main = 50px
padding-tablet = 1.3
padding-laptop = 1.6


// Limits
// =================================================================================================
max-width = 1366px


// Colors
// =================================================================================================
ct-main = #111
white = #fff
orange = #ec6f2f
c-dark-grey = #242424
cb-main = alpha(black, 0.8)

// Fonts
// =================================================================================================
font-primary = 'Open Sans', sans-serif
font-secondary = 'Source Sans Pro', sans-serif


// Media
// =================================================================================================
tablet = "(min-width: 768px)"
laptop = "(min-width: 1024px)"
