// Colors
// ================================================
$orange = #ec6f2f
$color-main = black
$color-link = $orange


// Fonts
// ================================================
$font-primary = 'Open Sans', sans-serif
$font-secondary = 'Droid Sans', sans-serif

$font-main()
  color $color-main
  font-family $font-primary


// Media
// ================================================
$tablet = "(min-width: 768px)"
$laptop = "(min-width: 1024px)"


// Animation
// ================================================
$transition-time = 0.3s
$transition-style = ease-out
