// Padding for blocks
// =================================================================================================
padding-small = 30px
padding-main = 50px
padding-tablet = 1.3
padding-laptop = 1.6


// Colors
// =================================================================================================
ct-main = #111
white = #fff
orange = #ec6f2f
c-dark-grey = #242424
cb-main = alpha(black, 0.8)


// Fonts
// =================================================================================================
font-primary = 'Open Sans', sans-serif
font-secondary = 'Droid Sans', sans-serif


// Media
// =================================================================================================
tablet = "(min-width: 768px)"
laptop = "(min-width: 1024px)"


// Animation
// =================================================================================================
transition-time = 0.3
transition-style = ease-out


// Limits
// =================================================================================================
max-width = 1366px
