mixin contacts()
	.contacts#contacts(data-parallax="scroll" data-image-src="img/header-bg.jpg")
		.box-in
			+box-name("Contacts", "", "box-name_small")

			.box-content.js-contactsAnim
				.contacts-list
					a(href="mailto:hi@ilko.me" title="Email") hello@ilko.me
					a(href="http://www.upwork.com/fl/ilyakomichev" target="_blank" title="Upwork") Upwork
					a(href="https://github.com/ilkome" target="_blank" title="GitHub") GitHub
					a(href="http://facebook.com/ilkome" target="_blank" title="Facebook") Facebook
					a(href="http://vk.com/ilkome" target="_blank" title="VK") VK
					a(href="https://www.fl.ru/users/style-nes/" target="_blank" title="Free-lance.ru") FL.ru
				.contacts-list
					a(href="https://www.couchsurfing.com/people/ilkome" title="couchsurfing") couchsurfing
					a(href="https://www.instagram.com/ilkome/" title="Instagram @ilkome") Instagram @ilkome
				.contacts-text
					| Telegram, WhatsApp, Viber: 
					strong +7&nbsp;915&nbsp;976&nbsp;0715
				.contacts-text.contacts-skype
					| Skype: 
					strong style-nes 
				
				+hireme

		+footer
