.contacts
  color white
  text-align center
  background url("../img/header-bg.jpg") center center no-repeat
  bg-cover()

  &__in
    background alpha(black, 0.5)

  &__row
    padding-bottom 30px

    a
      display inline-block
      padding 3px
      padding-top 0
      margin 0 15px
      margin-bottom 20px

      &:hover
        border-color white
        color white

  &__text
    display block
    opacity .9

  &__email
    font-size 22px
    letter-spacing 1px

  &__skype
    padding-top 20px
