//- Include mixins from components
//-----------------------------------------------



//- Extend layout
//-----------------------------------------------
extends ../components/layout/layout


//- Append this to зфпу block in layout
//-----------------------------------------------
block append page
	.demoBlock
		h1 This page builds with ilkome gulp boilerplate
		a(href="inside.html") Inside page
		p: a(href="https://github.com/ilkome/gulp-boilerplate/") Project on GitHub

		p#js-app
		p Sweet roll pastry liquorice. Dragée pudding macaroon cotton candy lollipop icing lemon drops. Jelly bonbon jelly ice cream. Cake sweet apple pie tiramisu muffin marshmallow. Marzipan tart croissant marshmallow jelly-o jelly-o jelly beans. Gummies marzipan jelly-o caramels cheesecake icing carrot cake oat cake. Thanks. Ice cream cookie cheesecake biscuit marzipan tiramisu muffin. Marzipan donut jelly beans powder sugar plum topping danish. Marzipan tootsie roll cotton candy gummies topping tart gummi bears caramels tiramisu. Powder jujubes sugar plum toffee gummi bears gingerbread muffin. Sesame snaps gingerbread biscuit. Chupa chups icing jujubes pie cheesecake. Candy candy candy canes tootsie roll tiramisu bonbon candy canes muffin. Powder caramels toffee sweet roll pudding marzipan.
		p Candy jelly beans lemon drops ice cream chocolate cake sweet. Fruitcake carrot cake gummies donut cotton candy liquorice sugar plum lollipop. Muffin chupa chups jujubes marshmallow chupa chups jelly-o. Brownie bear claw toffee jelly soufflé oat cake. Pastry jujubes liquorice wafer sweet roll fruitcake gingerbread. Candy biscuit jujubes dessert. Icing caramels pie pie jelly-o chocolate cake candy biscuit sweet roll. Bear claw sugar plum chupa chups jelly beans topping cotton candy. Bear claw topping cake pie marshmallow tart. Sugar plum biscuit chupa chups sweet roll halvah tart macaroon. Pastry icing chocolate bar dragée chocolate cake. Tart jujubes macaroon oat cake jelly-o apple pie. Jelly marshmallow brownie gummi bears apple pie.
		p Wafer soufflé cake gingerbread. Halvah apple pie cookie bonbon sugar plum dessert apple pie ice cream lollipop. Candy canes fruitcake oat cake croissant jelly beans jujubes topping bonbon croissant. Lemon drops pie bear claw bear claw oat cake soufflé ice cream icing. Cheesecake marshmallow sesame snaps sweet. Gummies wafer chocolate bar cookie bear claw dessert cake halvah. Marzipan gummies gummi bears brownie jelly beans wafer jelly. Cheesecake jelly marshmallow muffin chocolate cake ice cream croissant cake donut. Muffin soufflé powder apple pie pie pudding icing gingerbread carrot cake. Powder brownie chupa chups dessert fruitcake muffin apple pie icing. Jujubes soufflé dragée jujubes caramels sweet roll pastry. Topping cookie chupa chups pie macaroon.
		p Gummies biscuit dessert halvah powder oat cake cupcake marzipan lemon drops. Jelly-o chupa chups sweet roll toffee wafer pie. Marshmallow chocolate bar oat cake cake lollipop muffin sugar plum. Bonbon topping tiramisu lollipop chocolate cake sweet brownie. Oat cake brownie toffee muffin tart. Carrot cake danish biscuit cake chocolate cookie jujubes pudding. Sesame snaps tiramisu lemon drops gummies icing jujubes brownie liquorice apple pie. Cake marzipan dessert carrot cake croissant croissant. Bear claw marshmallow carrot cake tiramisu jujubes wafer. Jujubes apple pie sweet pastry chocolate bar dessert croissant tiramisu. Dessert gummi bears soufflé brownie chocolate cake oat cake cake. Jelly sugar plum jujubes chocolate bar brownie danish. Cake oat cake pie toffee fruitcake jelly-o wafer pie tiramisu.
		p Marshmallow jujubes jelly beans apple pie sesame snaps pie dragée. Tart tiramisu lollipop icing danish. Cake caramels chocolate cake candy jelly-o. Biscuit sweet roll sesame snaps wafer bonbon jelly-o. Apple pie ice cream bear claw jelly sugar plum apple pie. Chocolate bar marshmallow dragée cake lollipop jelly cake chocolate cake cotton candy. Cookie dragée donut. Cotton candy ice cream candy jelly. Cake jelly-o jelly muffin tart powder. Toffee bear claw gummies cotton candy toffee. Brownie biscuit caramels pie chocolate bar pastry topping fruitcake cupcake. Liquorice gummi bears liquorice gummi bears chocolate bar wafer bear claw.
