//- Include mixins from components
//--------------------------------------------------------------------------------------------------
include ../components/contacts/contacts
include ../components/portfolio/portfolio
include ../components/welcome/welcome
include ../components/skills/skills


//- Extend layout
//--------------------------------------------------------------------------------------------------
extends ../components/layout/layout


//- Append this to page block in layout
//--------------------------------------------------------------------------------------------------
block append page
	+welcome
	+skills
	+portfolio
	+contacts
