//- Include all atoms mixins and extend layout
//-------------------------------------------------
include ../atoms/**/*.jade
extends ../layout/layout


//- Append this to 'layout-content'
//-------------------------------------------------
block append layout-content
  +welcome
  +skills
  +portfolio
  +contacts
