//- Include all components mixins and extend layout
//--------------------------------------------------------------------------------------------------
include ../components/**/*.jade
extends ../layout/layout


//- Append this to 'layout-content'
//--------------------------------------------------------------------------------------------------
block append layout-content
	+welcome
	+skills
	+portfolio
	+contacts
