//- Variables
//-----------------------------------------------
block vars
	- var pagetitle = "Inside"


//- Include mixins from components
//-----------------------------------------------



//- Extend layout
//-----------------------------------------------
extends ../components/layout/layout


//- Append this to page block in layout
//-----------------------------------------------
block append page
	.demoBlock
		h1 #{pagetitle} page
		a(href="index.html") Index page
		p Example text.		p#js-app
