//- Variables
//-----------------------------------------------
block vars
	- var pagetitle = "Inside"


//- Include mixins from components
//-----------------------------------------------



//- Extend layout
//-----------------------------------------------
extends ../components/layout/layout


//- Append this to page block in layout
//-----------------------------------------------
block append page
	.demoBlock
		h1 #{pagetitle} page
		ul
			li: a(href="index.html" title="Index page") Index page
			li: a(href="https://github.com/ilkome/gulp-boilerplate/" title="Project on GitHub") Project on GitHub
		p#js-app
