mixin menu-bottom
	nav.nav
		a(href="#").menuBottom__trigger: span &nbsp;
		ul.nav__list
			li.nav__el: a(href="#top").nav__link Home
			li.nav__el.nav__el_active: a(href="#contacts").nav__link Contacts
			li.nav__el: a(href="#portfolio").nav__link Portfolio
