mixin menu-bottom
	.menuBottom
		a(href="#").menuBottom-trigger: span &nbsp;
		ul.menuBottom-nav
			li.menuBottom-el: a(href="#top").menuBottom-link Home
			li.menuBottom-el: a(href="#contacts").menuBottom-link Contacts
			li.menuBottom-el: a(href="#portfolio").menuBottom-link Portfolio
