mixin welcome
	.box
		.box-in
			+box-name("Hi, there :)", "", "box-name_small")
			.box-content.box-content_welcome
				div
					p My name is Ilya Komichev. I'm Front-end Developer and Divemaster.
					p I have developed & successfully released web-projects with different skill levels.
				div
					p My experience to work in the team made the rule to do my code well documented and easy to understand.
					p For front-end projects I use my 
						a(href="https://github.com/ilkome/gulp", title="ilkome gulp boilerplate") gulp start boilerplate
