mixin skills
  .box.box_skills(id="skills")
    .box__in
      +box-name("Skills", "Bootstrap, Foundation, Sass, LESS, Gulp")
      .box__content
        .skills
          +skill("WordPress & PHP", "wordpress")
          +skill("Jade & HTML", "html5")
          +skill("Stylus & CSS", "css3")
          +skill("JavaScript & jQuery", "code")

mixin skill(name, pic)
  .skill.js-skillAnim
    .skill__pic(class="skill__#{pic}")
    h3.skill__name= name
