// Links
// =================================================================================================
a
  display inline-block
  color orange
  font-family font-primary
  border-bottom 1px solid orange
  tdn()
  anim()

  &:hover
    border-color #fff
